#canvas1 {
      widows: 800px;
      height: 500px;
      border: 1px solid #403F4C;
      background: #e84855;
      position: absolute;
      top:10%;
      left:10%;
      transform: translate (-50%, -50%);
}